<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        text-align: center;
        background-color: burlywood;
        margin: auto;
    }


</style>
<body>
    <h2 style="text-align: center;">Student Details</h2>
    <table border="1">
      
      <tr>
        <th>title</th>
        <th>author</th>
        <th>genre</th>
        <th>View</th>
      </tr>
       {%for i in qs%}
       <tr>
       <td>{{i.name}}</td>
       <td>{{i.course}}</td>
       <td>{{i.email}}</td>
       <td>
        <a href="{% url 'stud-det' i.id %}">Link</a>
        <a href="{% url 'stud-del' i.id %}">delete</a>
       </td>
    
    </tr>
    
    
       {%endfor%}
</table>
</body>
</html>